

.dashBoard-container {
    background-color: #F7F8F9;
    display: flex;
}

main {
    margin-left: 10vw;
    margin-right: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-section {
    position: relative;
    max-width: 96%;
    min-height: 70.5vh;
    background: #FFFFFF;
    padding: 0px 40px 10px 40px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .dashBoard-container{
        background-color: #F7F8F9;
        min-width: 100vw;
    }
    main{
       margin-left: 1vw;
       margin-right: 1vw;
    }
    
    .table-section{
        /* min-height: 67.5vh; */
        /* width: 90%; */
        margin-bottom: 50px;
    }
}

@media(max-width: 740px){
    .dashBoard-container{
        background-color: #F7F8F9;
    }
    .table-section{
        min-width: 85%;
        margin-bottom: 3vh;
        padding: 10px;
}
}