nav {
    width: 10vw;
    height: 100vh;
}

.nav-bar {
    position: fixed;
    /* width: 8vw; */
    width: 6.8rem;
    height: 90vh;
    left: 0px;
    top: 5vh;

    background: #FFFFFF;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1);
    border-radius: 0px 16px 16px 0px;

    display: flex;
    flex-direction: column;
}


.nav-bar_top {
    border-top-right-radius: 16px;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.nav-bar_top>div {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar_top>span {
    width: 70%;
    border: 1px solid #CCCCCC;
    justify-self: flex-start;
}

.menu-svg {
    width: 24px;
    height: 24px;
    margin: 0.8125rem 0px 2rem 0px;
    cursor: pointer;
}

.house-svg {
    width: 48px;
    height: 48px;
    cursor: pointer;
}



.nav-bar_botton {
    border-bottom-right-radius: 16px;
    height: 80%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0px 18px 0px;
}

.money-svg {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.logOut-svg {
    height: 24px;
    width: 24px;
    cursor: pointer;
}




@media(max-width: 1200px) {
   
    .nav-bar {
        top: 0vh;
        width: 100vw;
        height: 10vh;

        box-shadow: none;
        border-radius: 0px;
        flex-direction: row;
    }
    .nav-bar_top {
        border-top-right-radius: 0px;
        background-color: #FFFFFF;
        height: 10vh;
        width: 200px;
        flex-direction: row;
    }
    
    .nav-bar_top>div {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 10px 0px 20px;
    }
    
    .nav-bar_top>span {
        display: none;
    }
    .menu-svg {
        margin: 0px 0px 0px 0px;
    }

    .nav-bar_botton {
        border-bottom-right-radius: 0px;
        height: 10vh;
        width: 70%;
    
        flex-direction: row;
        justify-content: space-between;
        margin: 0rem 0px 0px 0px;
        padding: 0px 20px 0px 20px;
    }
}