@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    /* background-color: #F7F8F9;; */
}

.orange-500{
    background-color: #FF7E2E;
}

.orange-600 {
    background-color: #f3701e;
}
